<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Enrollment Details</title>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">

    <style>

        .card{
            background:#f8f9fa;
            border:1px solid #c8d1e3;
        }

    </style>

</head>

<body>

<div class="container mt-4">

    <h3 class="mb-4">Enrollment Details</h3>

    <form th:action="@{/admin/enrollments/update}" method="post">

        <input type="hidden"
               name="id"
               th:value="${enrollment.enrollmentId}">

        <div class="card p-4">

            <div class="row mb-3">

                <div class="col-md-6">

                    <label class="form-label">Course*</label>

                    <select class="form-select" name="courseId">

                        <option th:each="c : ${courses}"
                                th:value="${c.courseId}"
                                th:text="${c.title}"
                                th:selected="${c.courseId == enrollment.course.courseId}">
                        </option>

                    </select>

                </div>

                <div class="col-md-6">

                    <label class="form-label">Fee*</label>

                    <input type="text"
                           class="form-control"
                           th:value="${enrollment.course.price}"
                           readonly>

                </div>

            </div>


            <div class="row mb-3">

                <div class="col-md-6">

                    <label class="form-label">Username or Email*</label>

                    <input type="text"
                           class="form-control"
                           th:value="${enrollment.email}"
                           readonly>

                </div>

                <div class="col-md-6">

                    <label class="form-label">Full Name*</label>

                    <input type="text"
                           class="form-control"
                           name="fullName"
                           th:value="${enrollment.fullName}">

                </div>

            </div>


            <div class="mb-3">

                <label class="form-label">Enroll Reason</label>

                <textarea class="form-control"
                          rows="3"
                          name="note"
                          th:text="${enrollment.note}">
</textarea>

            </div>


            <div class="row mb-3">

                <div class="col-md-6">

                    <label class="form-label">Status</label>

                    <div>

                        <input type="radio"
                               name="status"
                               value="PENDING"
                               th:checked="${enrollment.status=='PENDING'}">
                        Pending

                        <input type="radio"
                               name="status"
                               value="APPROVED"
                               th:checked="${enrollment.status=='APPROVED'}"
                               class="ms-3">
                        Approved

                        <input type="radio"
                               name="status"
                               value="REJECTED"
                               th:checked="${enrollment.status=='REJECTED'}"
                               class="ms-3">
                        Rejected

                    </div>

                </div>


                <div class="col-md-6">

                    <label class="form-label">Last Updated</label>

                    <input type="text"
                           class="form-control"
                           th:value="${#temporals.format(enrollment.updatedAt,'yyyy-MM-dd HH:mm')}">

                </div>

            </div>


            <div class="mb-3">

                <label class="form-label">Rejected Notes</label>

                <textarea class="form-control"
                          rows="3"
                          name="rejectedNote"
                          th:text="${enrollment.rejectedNote}">
</textarea>

            </div>


            <div class="row mb-3">

                <div class="col-md-6">

                    <label class="form-label">Progress</label>

                    <input type="text"
                           class="form-control"
                           name="progress"
                           value="0.00">

                </div>

                <div class="col-md-6">

                    <label class="form-label">Completed At</label>

                    <input type="text"
                           class="form-control">

                </div>

            </div>


            <button class="btn btn-secondary">
                Submit
            </button>

        </div>

    </form>

</div>

</body>
</html>