<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Payment Success</title>

    <style>

        body{
            text-align:center;
            font-family:Arial;
            background:#f4f6fb;
        }

        .box{
            margin-top:100px;
        }

        h2{
            color:green;
        }

    </style>

</head>

<body>

<div class="box">

    <h2>Payment Successful</h2>

    <p>Your course enrollment has been confirmed.</p>

    <a href="/">Back to Home</a>

</div>

</body>

</html>